@model CDRTools.Models.Extension
@{
    ViewData["Title"] = "Extensiones";
}

<h3>@ViewData["Message"]</h3>


<button id="nuevaExt" class="btn btn-success">Nueva extensión</button>
<button id="mostrarExt" class="btn btn-info">Ver extensiones</button>
<script>
    $(document).ready(function () {
        $("#nuevaExt").click(function (e) {
            e.preventDefault();
            $.get('@Url.Action("Crear","Extension")', function (result) {
                $('.body-content').html(result);
            });
        });

        $("#mostrarExt").click(function (e) {
            e.preventDefault();
            $.get('@Url.Action("Mostrar","Extension")', function (result) {
                $('.body-content').html(result);
            });
        });

        $("#regresar").click(function (e) {
            e.preventDefault();
            $.get('@Url.Action("Index","Extension")', function (result) {
                $('.body-content').html(result);
            });
        });
    });
</script>