<span id="mostrar" class="pull-left" style="display:none">
    <button type="button" class="btn btn-link" data-toggle="icon">
        <span id="type-button" class="glyphicon glyphicon-list"></span>
    </button>
</span>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span class="navbar-brand" aria-hidden="true"></span><font color="#337AB7"> Llamadas</font>
            </li>
       
            <li>    
                <ul>
                    <li>@Html.ActionLink("Carga Llamadas", "Index", "Llamada")</li>
                    <li>@Html.ActionLink("Extensiones","Index","Extension")</li>
                    <li><a href="#"> Códigos de Autorización</a></li>
                </ul>
                
            </li>
        </ul>
        <span id="ocultar" class="pull-right">
            <button type="button" class="btn btn-link" data-toggle="icon">
                <span id="type-button" class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </span>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <p>Container...</p>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script type="text/javascript">
$(document).ready(function() {
    $('#ocultar').click(function () {
        document.getElementById("sidebar-wrapper").style.display = 'none';
        document.getElementById("wrapper").style.padding = "0";
        document.getElementById("bdy").style.padding = "0";
        document.getElementById("mostrar").style.display = 'block';
    });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#mostrar').click(function () {
        document.getElementById("mostrar").style.display = 'none';
        document.getElementById("wrapper").style.padding = "0 0 0 250px";
        document.getElementById("bdy").style.padding = "0 0 0 250px";
        document.getElementById("sidebar-wrapper").style.display = 'block';
    });
});
</script>