
@section Scripts {
    @{ Html.RenderPartial("_Reports.js"); }
}
<span id="mostrar" class="pull-left" style="display:none">
    <button type="button" class="btn btn-link" data-toggle="icon">
        <span id="type-button" class="glyphicon glyphicon-list"></span>
    </button>
</span>

<div id="wrapper">
    <div class="container-fluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <span class="navbar-brand" aria-hidden="true"></span><font color="#337AB7"> Reportes</font>
                </li>
                <li>
                    <a href="#informesSubmenu" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><font color="#337AB7"> Informes</font></a>
                    <ul class="collapse list-unstyled" id="informesSubmenu">
                        <li class="custom-li">@Html.ActionLink("Informe 1", "GetReporte", "Reporte", new { id = 1},null)</li>
                        <li class="custom-li">@Html.ActionLink("Informe 2", "Container", "Reporte")</li>
                    </ul>
                </li>
                <li>
                    <a href="#estadisticasSubmenu" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><font color="#337AB7"> Estadisticas</font></a>
                    <ul class="collapse list-unstyled" id="estadisticasSubmenu">
                        <li class="custom-li"><a href="#">Grafica 1</a></li>
                        <li class="custom-li"><a href="#">Grafica 2</a></li>
                        <li class="custom-li"><a href="#">Grafica 3</a></li>
                    </ul>
                </li>
            </ul>
            <span id="ocultar" class="pull-right">
                <button type="button" class="btn btn-link" data-toggle="icon">
                    <span id="type-button" class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </span>
        </div>
        
    </div>
</div>
<!-- /#wrapper -->