<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Actualizacion", "sideBar", "Llamada")</li>
    <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
    <li>@Html.ActionLink("Configuracion", "ConfigMenu", "Settings")</li>
    <li>@Html.ActionLink("Ext", "Index", "Extension")</li>
</ul>
