<div>   
    <div>
        <blockquote><p><h1>Configuracion</h1></p></blockquote>
    </div>
    <div class="flex-container">   
        <div class="conf">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#menu1" class="tab-pane fade in active" onclick="llamarVistaParcial();" data-toggle="modal" data-target="#myModal">Seleccionar archivo</a></li>
                <li><a href="#menu2" class="tab-pane fade">Ususarios</a></li>
                <li><a href="#menu3" class="tab-pane fade">Certificados</a></li>
                @*<li><button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-toggle="modal" data-target="#myModal">La llamada ganadora a la vista parcial
</button></li>*@
            </ul>
        </div>

        @*Content*@
        @*<div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>*@
        @*/Content*@

         
        <div id="contentConf" class="form-group conf-div" style="flex-grow: 1">
        </div>
    </div>  
</div>

<script>
function llamarVistaParcial() {
    var laURLDeLaVista = '@Url.Action("LeerArchivo", "Settings")';
    $.ajax({
        cache: false,
        async: true,
        type: "GET",
        url: laURLDeLaVista,
        data: {},
        success: function (response) {
            $('#contentConf').html('');
            $('#contentConf').html(response);
        }
    });
}
</script>