<div>   
    <div>
        <blockquote><p><h1>Configuracion</h1></p></blockquote>
    </div>
    <div class="flex-container">   
        <div class="conf">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#menu1" class="tab-pane fade in active" onclick="llamarVistaParcial();" data-toggle="modal" data-target="#myModal">Seleccionar archivo</a></li>
                <li><a href="#menu2" class="tab-pane fade">Ususarios</a></li>
                <li><a href="#menu3" class="tab-pane fade">Certificados</a></li>
       
            </ul>
        </div>

         
        <div id="contentConf" class="form-group conf-div" style="flex-grow: 1">
        </div>
    </div>  
</div>

<script>
function llamarVistaParcial() {
    var laURLDeLaVista = '@Url.Action("LeerArchivo", "Settings")';
    $.ajax({
        cache: false,
        async: true,
        type: "GET",
        url: laURLDeLaVista,
        data: {},
        success: function (response) {
            $('#contentConf').html('');
            $('#contentConf').html(response);
        }
    });
}
</script>