<span class="pull-left">
    <label><strong><h5>Adjuntar un archivo</h5></strong></label><br />
    <button type="button" class="btn btn-primary btn-default btn-sm" data-toggle="icon">
        <span id="type-button" class="glyphicon glyphicon-folder-open"> Selecciona</span>
    </button>
    <p class="help-block">Ejemplo de texto de ayuda.</p>
</span>	